body {
  background: #e5e5e5;
}

small {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 27px;
}

.hex {
  color: #7f8cff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.fonts {
  font-family: sans-serif, 'Poppins';
  font-style: normal;
}

.labels {
  display: none;
}

.hidden-popup {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  small {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: initial;
  }

  .main-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
  }

  .not-cliked {
    display: none;
  }

  .clicked {
    position: absolute;
    top: 8px;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 100vh;
    border: 2px solid #67798e;
    backdrop-filter: blur(10px);
    background-color: rgb(13 35 235 / 77.4%);
    z-index: 10;
  }

  .clicked-p {
    color: #fff;
    margin-top: 30px;
    margin-left: 80%;
    margin-right: 5%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: large;
  }

  .clicked-p:hover {
    cursor: pointer;
  }

  .clicked-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 20vh;
    gap: 20px;
    padding-left: 28px;
    padding-right: initial;
    margin-top: 30px;
  }

  .clicked-ul a {
    text-decoration: none;
    height: 24px;
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .logo-place {
    margin-left: 12px;
  }

  .my-logo {
    padding: 10px 12px 10px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    animation: animLogo 2s linear;
  }

  .icons:hover {
    cursor: pointer;
  }

  .nav-menues {
    display: none;
  }

  .nav-menues-c {
    display: block;
    text-align: center;
  }

  .headline {
    flex: 1 1 auto;
    background-image: url('images/header-shapes-mobile.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: auto;
  }

  .headline > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: 102px;
  }

  .infoText h1 {
    color: #091e42;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 114px;
  }

  .info-descrption {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
  }

  .infoText .connect {
    color: #7f8cff;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
  }

  .social-media {
    display: flex;
    width: 170.17px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 136px;
    list-style-type: none;
    text-align: left;
    padding-left: initial;
  }

  .social-media a i {
    color: #505f79;
    font-size: 24px;
    padding: 10px;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .project-1 {
    margin-top: 114px;
  }

  .other-projects {
    margin-top: 88px;
  }

  .project-img {
    border-radius: 8px;
    width: auto;
  }

  .details {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .details h3 {
    margin: initial;
    padding: initial;
  }

  .details ul {
    margin: initial;
    padding: initial;
  }

  .details ul li {
    margin: initial;
    padding: initial;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
  }

  .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #383c45;
  }

  .bullets {
    font-weight: 600;
    line-height: 16px;
    color: #383c45;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #383c45;
    border-radius: 50%;
    display: inline-block;
  }

  .canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .grid-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .grid-items .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .grid-items .categories li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see-project {
    width: 295px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .contact-me button {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
    width: 142px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    margin-top: 22px;
    margin-bottom: 45px;
    padding: 12px 16px;
    border: 1px solid #6070ff;
  }

  .see-project button {
    padding: 12px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  .see-project button:hover {
    background: #4053fc;
    color: #fff;
    cursor: pointer;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 100px;
    margin-top: 114px;
  }

  .about-myself > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .myslef {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 114px;
    margin-bottom: initial;
  }

  .about-myself .text {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .social-media {
    padding-bottom: 12px;
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project button {
    width: 162px;
    height: 48px;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .languages-list {
    margin: initial;
    margin-right: 36px;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 251.85px;
  }

  .lang-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
  }

  .land-span {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .languages-list .lang {
    display: flex;
    list-style-type: none;
    width: auto;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 12px;
    padding: 9px;
    align-items: center;
  }

  .contact-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .languages-list .lang p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-left: 16px;
  }

  .frameworks {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .langusge {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .sign {
    padding-right: 20px;
  }

  .contact-me {
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    margin-top: -114px;
    background-image: url('images/contactform-shapes-mobile.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 265px 709px;
  }

  .contact-me > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .contact-me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 103px;
    margin-bottom: initial;
    color: #fff;
    text-align: center;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
  }

  .contact-me input {
    height: 18px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-top: 20px;
  }

  .contact-me textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding: 15px 38px 15px 16px;
    height: 170px;
    margin-top: 18px;
    margin-bottom: 22px;
    resize: none;
  }

  .main {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;
  }

  .popup {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
    z-index: 1;
  }

  .p-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .p-main-title {
    display: flex;
    justify-content: space-between;
  }

  .p-h3 {
    margin: initial;
    padding: initial;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  #btn-close {
    margin-top: initial;
    margin-bottom: initial;
    margin-right: 14px;
    padding: initial;
    font-size: 20px;
    color: #67798e;
  }

  #btn-close:hover {
    cursor: pointer;
  }

  .p-canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .p-canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .p-bullets {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .p-dot {
    height: 8px;
    width: 8px;
    background-color: #7a869a;
    border-radius: 50%;
    display: inline-block;
  }

  .p-canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .p-project-img {
    border-radius: 8px;
    width: 100%;
  }

  .p-text {
    margin: initial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .p-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: initial;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
  }

  .categories-li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .mibele-hidden {
    display: none;
  }

  .p-see-project {
    display: flex;
    align-items: center;
    border-top: 1px solid #ebecf0;
    margin-top: 8px;
    justify-content: center;
    gap: 10px;
  }

  .btn-see {
    padding: 12px;
    height: 48px;
    border-radius: 8px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
    margin-top: 25px;
    margin-bottom: 8px;
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .btn-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #396df2;
  }
}

@media only screen and (min-width: 768px) {
  .icons {
    display: none;
  }

  #clicked {
    display: none;
  }

  .main-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
    width: 100%;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-right: 9.87vw;
    margin-left: 9.94vw;
  }

  .my-logo {
    padding: 10px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    animation: animLogo 2s linear;
  }

  .nav-menues {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 10px;
  }

  .nav-menues a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-menues li {
    padding: 10px 12px;
    align-items: center;
    text-align: center;
  }

  /* Header section */

  .headline {
    flex: 1 1 auto;
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 97.17vw 103.36vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 41.2vh;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-bottom: 36.5vh;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin: initial;
  }

  .info-descrption {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    margin: initial;
  }

  .con-h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: initial;
  }

  .social-media {
    display: flex;
    width: 170.17px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    text-align: left;
    padding-left: initial;
    margin: initial;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
    margin-top: 142px;
  }

  .grid-items {
    display: flex;
    align-items: flex-start;
    gap: 46px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 142px;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: initial;
    width: 75%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .project-img {
    border-radius: 8px;
    flex: 1;
    width: 35vw;
  }

  #project-1 {
    content: url('images/projects/d-project-1.png');
  }

  #project-2 {
    content: url('images/projects/d-project-2.png');
  }

  #project-3 {
    content: url('images/projects/d-project-3.png');
  }

  #project-4 {
    content: url('images/projects/d-project-4.png');
  }

  .details {
    width: 35vw;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .details h3 {
    padding: initial;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .details ul {
    margin: initial;
    padding: initial;
  }

  .details ul li {
    margin: initial;
    padding: initial;
  }

  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #5e6371;
  }

  .bullets {
    font-weight: 600;
    line-height: 16px;
    color: #6a7080;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #6a7080;
    border-radius: 50%;
    display: inline-block;
  }

  .canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .grid-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .grid-items .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .grid-items .categories li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see-project {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 116px;
  }

  .contact-me button {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #3c4bce;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #6070ff;
    cursor: pointer;
  }

  .see-project button {
    padding: 12px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  .about-myself .see-project button {
    width: 162px;
    height: 48px;
  }

  .grid-items .see-project button:hover {
    background: #4053fc;
    color: #fff;
    cursor: pointer;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    border-top-right-radius: 100px;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top: 142px;
  }

  .myslef {
    display: flex;
    flex-direction: column;
    max-width: 447px;
    gap: 12px;
    flex: 1;
  }

  .about {
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 1px;
  }

  .about-myself .info-descrption {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .connect {
    margin-top: initial;
    padding-bottom: 12px;
    padding-top: 8px;
  }

  .about-myself .social-media {
    margin-top: -27px;
    margin-bottom: initial;
  }

  .about-myself .see-project {
    margin-bottom: initial;
    margin-top: 22px;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .languages-list {
    margin: initial;
    margin-right: 36px;
    flex: 1;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 251.85px;
  }

  .lang-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
  }

  .land-span {
    display: flex;
    gap: 12px;
  }

  .languages-list .lang {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 8.4vw;
    background: #f7f7f9;
    border-radius: 8px;
    padding: 9px;
    text-align: left;
    gap: 16px;
  }

  .languages-list .lang img {
    max-width: 48px;
  }

  .contact-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }

  .languages-list .lang p {
    margin: initial;
    text-align: left;
    padding-left: initial;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-bottom: 20px;
  }

  .frameworks {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .langusge {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .sign {
    padding-right: 20px;
    font-size: 25px;
    color: #acb7c3;
  }

  .contact-me {
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    margin-top: -114px;
    background-image: url('images/contact-form-background-shapes.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    text-align: center;
  }

  .contact-me > * {
    padding-left: 22.2vw;
    padding-right: 22.2vw;
  }

  .c-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 142px;
    color: #fff;
    text-align: center;
    margin-bottom: initial;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
  }

  .contact-me input {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin-bottom: 27px;
  }

  .contact-me textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding: 15px 38px 15px 16px;
    height: 238px;
    margin-bottom: 27px;
    resize: none;
  }

  .btn-submit {
    margin-bottom: 127px;
    width: 100%;
    text-align: center;
  }

  .main {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;
  }

  .popup {
    position: absolute;
    top: 77px;
    left: 9vw;
    right: 9vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
    z-index: 1;
  }

  .p-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .p-main-title {
    display: flex;
    justify-content: space-between;
  }

  .p-h3 {
    margin: initial;
    padding: initial;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  #btn-close {
    margin-top: initial;
    margin-bottom: initial;
    margin-right: 14px;
    padding: initial;
    font-size: 20px;
    color: #67798e;
  }

  #btn-close:hover {
    cursor: pointer;
  }

  .p-canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .p-canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .p-bullets {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .p-dot {
    height: 8px;
    width: 8px;
    background-color: #7a869a;
    border-radius: 50%;
    display: inline-block;
  }

  .p-canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .p-project-img {
    border-radius: 8px;
    width: auto;
  }

  .desktop {
    display: flex;
    gap: 24px;
  }

  .p-text {
    margin: initial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex-grow: 2;
  }

  .desktop-right {
    display: flex;
    flex-direction: column;
  }

  .p-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: initial;
    gap: 8px;
    list-style-type: none;
    margin: initial;
    flex-wrap: wrap;
  }

  .categories-li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .p-see-project {
    display: flex;
    align-items: center;
    border-top: 1px solid #ebecf0;
    margin-top: 8px;
    justify-content: center;
    gap: 10px;
  }

  .btn-see {
    padding: 12px;
    height: 48px;
    border-radius: 8px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    gap: 14px;
    align-items: center;
    min-width: 142px;
  }

  .btn-see:hover {
    color: #fff;
    cursor: pointer;
  }

  .btn-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #396df2;
  }

  .form-info {
    display: flex;
    justify-content: center;
  }

  #msg {
    width: 574px;
    height: 209px;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }

    50% {
      transform: scaleY(1.2);
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes animLogo {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
