
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.header-container {
  height: 45px;
  width: 100%;
  background-color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 31px;
  color: #344563;
  padding-right: 60px;
}

nav li {
  padding-top: 10px 20px;
  margin-top: -5%;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  margin-left: 15%;
  margin-top: 10px;
  padding-top: 10px;
}

.menu-bar i {
  position: absolute;
  left: 80%;
  top: 1%;
  color: #6070ff;
}

.container {
  margin: 0 auto;
  background: url("/img/header-shapes\ mobile.png");
  border-bottom-left-radius: 5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: #fff;
}

label {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.infoText {
  padding: 0 7%;
}

.infoText h1 {
  color: #091e42;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 114px;
}

.infoText p {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

.infoText h2 {
  color: #7f8cff;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.social-media ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  left: 24px;
}

.social-media-desk i {
  color: #505f79;
  font-size: 24px;
  padding: 10px;
  align-items: stretch;
  padding-bottom: 20px;
}

.social-media ul li {
  list-style: none;
}

.social-media a i {
  color: #505f79;
  font-size: 24px;
  padding: 10px;
  align-items: stretch;
  padding-bottom: 20px;
}

.frame-work .second-title i {
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #acb7c3;
  margin-left: 207px;
}

.language-header .language-heading i {
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #acb7c3;
  margin-left: 139px;
}

.frame-work .skill-title i {
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #acb7c3;
  margin-left: 135px;
}

.social-media-desk ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  left: 24px;
  margin-left: -5%;
}

.social-media a i:hover {
  transform: scale(0.9);
  transition: transform 0.4s ease-in-out;
  color: #396df2;
}

.social-media-desk ul li {
  list-style: none;
}

.hero {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 12px;
  margin-top: 86px;
  margin-right: 40px;
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-top: 20px;
  margin-left: 20px;
  left: 24px;
  top: 10%;
  padding-bottom: 40px;
}

.card img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.second-card img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.second-card {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 12px;
  margin-top: 86px;
  margin-right: 40px;
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-top: 20px;
  margin-left: 20px;
  left: 24px;
  top: 10%;
  padding-bottom: 40px;
}

.card p {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  top: 94px;
}

.card button {
  height: 40px;
  color: #396df2;
  font-weight: 600px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1.5px solid #396df2;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
}

.second-card button {
  height: 40px;
  color: #396df2;
  font-weight: 600px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1.5px solid #396df2;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
}

.second-card p {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  top: 94px;
}

.item-category {
  display: flex;
  flex-direction: row;
}

.profesional {
  display: flex;
  flex-direction: row;
}

.item-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-right: 15px;
  color: #293d3d;
}

.item-can {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 8px;
  color: #344563;
  list-style: none;
  padding: 10px;
}

.category {
  display: flex;
  flex-direction: row;
}

.tag {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500px;
  background-color: #ebebff;
  padding: 8px 12px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 50px;
  width: 100%;
  padding: 16px;
  border-top-right-radius: 50px;
  padding-bottom: 115px;
  margin-bottom: -35px;
}

.about-myself {
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-me p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 10px;
}

.about-me h3 {
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}

.about-me button {
  color: #396df2;
  font-weight: 600px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1.5px solid #396df2;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 40px;
}

.language-header h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 12px;
  padding: 10px;
}

.list-language {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tag-lang {
  left: 76px;
  right: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  height: 66.7155990600586px;
  margin: 10px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  font-size: 22px;
  line-height: 40px;
  align-items: center;
  color: #253858;
}

.tag-lang img {
  height: 60px;
  left: 25px;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.frame-work {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.frame-work .skill-title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #000;
  line-height: 47px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.frame-work .second-title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #000;
  line-height: 47px;
  font-family: 'Poppins', sans-serif;
}

.line {
  margin: 18px 0;
  color: #acb7c3;
  width: 80%;
}

.contact-us {
  margin: 0 auto;
  background: #6070ff;
  border-top-left-radius: 50px;
  background-image: url(/img/contact-form-mobile-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.contact-me {
  padding-top: 103px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  height: 52px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-top: -50px;
}

#contact-p {
  display: flex;
  text-align: center;
  font-weight: 400px;
  font-size: 25px;
  color: #fff;
  padding-top: 63px;
  margin-left: 25px;
  margin-right: 25px;
}

.form-info {
  display: flex;
  padding: 24px;
  justify-content: center;
}

.form-info ul li {
  list-style: none;
}

.form-info input[type="text"],
[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  color: #172b4d;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#msg {
  height: 150px;
}

.submit-button {
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1.5px solid #396df2;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  display: flex;
  text-align: center;
}

.submit-button:hover {
  background-color: #4caf50;
  color: white;
}

@media (min-width: 768px) {
  body {
    padding: 0;
    box-sizing: border-box;
    background: #e5e5e5;
  }

  .logo img {
    animation: animLogo 2s linear;
  }

  .menu-bar i {
    display: none;
  }

  .container {
    background: url("./img/Header\ bg.png");
    height: 756px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeats;
    border-bottom-left-radius: 5%;
  }

  .infoText {
    padding: 0 8%;
  }

  .infoText h1 {
    font-size: 48px;
    line-height: 60px;
    padding-left: 113px;
    margin-bottom: 10px;
    padding-right: 89px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .infoText p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-left: 113px;
    padding-right: 86px;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(200px);
    opacity: 0;
  }

  .infoText h2 {
    margin-left: 113px;
  }

  .social-media ul {
    margin-left: 93px;
  }

  .social-media-desk ul {
    margin-left: 8%;
  }

  .second-card button {
    margin-left: 10px;
  }

  .about-me button {
    margin-left: 10%;
  }

  .card button {
    margin-left: 10px;
  }

  .second-card button:hover {
    transform: scale(1.1);
    transition: 00.4s ease-in-out;
    background-color: #396df2;
    color: #fff;
  }

  .about-me button:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
  }

  .card h2 {
    font-size: 40px;
    padding: 10px;
  }

  .contact-us {
    background-image: url(/img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .second-card h2 {
    font-size: 40px;
    padding: 10px;
  }

  .card p {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .second-card p {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .tag {
    margin-bottom: 32px;
    margin-left: 10px;
  }

  .item-tag {
    font-size: 18px;
    margin-left: 10px;
  }

  .item-can {
    font-size: 18px;
  }

  .tag-lang img {
    align-content: center;
    height: 48px;
    width: 48px;
    left: 12px;
    top: 12px;
    border-radius: 0;
  }

  .second-card img {
    display: flex;
    height: 448px;
    width: 544px;
  }

  .card img {
    display: flex;
    height: 448px;
    width: 544px;
  }

  .card img:hover {
    transform: scaleY(1.1);
    transition: 0.4s ease-in-out;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-left: 9%;
  }

  .card button:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }

  .card .see-project {
    background-color:white;
    color:  #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
  }

  .second-space {
    flex: 1;
    order: 1;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .first {
    flex: 1;
  }

  .language-header {
    flex: 2;
  }

  .second-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-left: 9%;
  }

  .first-work {
    flex: 1;
  }

  .first-prof {
    flex: 1;
  }

  .second-card img:hover {
    transform: scaleY(1.1);
    transition: 0.4s ease-in-out;
  }

  .about-me p {
    margin-left: 10%;
  }

  .language-header h3 {
    margin-left: 1%;
  }

  .connect-header {
    margin-left: 10%;
  }

  #contact-p {
    margin-left: 397px;
    margin-right: 418px;
    padding-top: 84px;
    margin-bottom: -10px;
  }

  .form-info {
    display: flex;
    justify-content: center;
  }

  .form-info input[type="text"],
  [type="email"],
  textarea {
    border-radius: 2px;
  }

  .submit-button {
    margin-left: 37%;
    margin-top: 10px;
  }

  .list-language {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .language-header .language-heading i {
    margin-left: 523px;
  }

  .tag-lang {
    padding-bottom: 95px;
    padding-top: 52px;
    align-content: center;
  }

  .frame-work .second-title i {
    margin-left: 612px;
  }

  .frame-work .skill-title i {
    margin-left: 535px;
  }

  .about-myself {
    margin-left: 10%;
  }

  #msg {
    width: 574px;
    height: 209px;
  }

  .list-language .title {
    color: #253858;
    margin-bottom: -78%;
    padding: 38px;
    margin-right: 48px;
    margin-left: -85px;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }

    50% {
      transform: scaleY(1.2);
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes animLogo {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@media only screen and (max-width: 768px) {
  nav .nav-top {
    display: none;
  }
}
